████████╗██╗██╗  ██╗██╗  ██╗   ██╗████████╗██╗ ██████╗███████╗
╚══██╔══╝██║██║ ██╔╝██║  ╚██╗ ██╔╝╚══██╔══╝██║██╔════╝██╔════╝
   ██║   ██║█████╔╝ ██║   ╚████╔╝    ██║   ██║██║     ███████╗
   ██║   ██║██╔═██╗ ██║    ╚██╔╝     ██║   ██║██║     ╚════██║
   ██║   ██║██║  ██╗███████╗██║      ██║   ██║╚██████╗███████║
   ╚═╝   ╚═╝╚═╝  ╚═╝╚══════╝╚═╝      ╚═╝   ╚═╝ ╚═════╝╚══════╝
                                                              
AUTHOR: Robson J
EMAIL: robsonjrservices@gmail.com
GITHUB: https://github.com/ORobsonJr/
LINKEDIN: https://www.linkedin.com/in/robson-j%C3%BAnior-0a67b1226/
                                                        